body {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #5c5c5c;
}

.header {
  background-color: #828282;
  margin: 0 auto;
  max-width: 1440px;
}

.container{
  max-width: 1440px;
  margin: 20px auto;
  min-height: 50px;
  background-color: #b9b9b9;
}

.navigation {
  background-color: #adadad;
}

.photo-title-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.navigation-list{
  display: flex;
  justify-content: flex-end;
  list-style: none;
  align-items: center;
}

.navigation-link {
  text-decoration: none;
  color: #6f6f6f;
  position: relative;
  padding: 0 12px;
  font-size: 15px;
  font-weight: 200;
  line-height: 60px;

}

.section-profile {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 50px 30px 35px;
}

.section-profile-photo {
  width: 300px ;
  height: 300px ;
  border-radius: 50%;
}

.section-profile-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    text-transform: uppercase;
}

.main{
  margin-bottom: auto;
}

.column-left {
  width: 40%;
  background-color: rgb(136, 133, 130);
  padding: 0 50px 0 50px;
}

.column-right {
  width: 60%;
  display: flex;
  flex-direction: column;
  background-color: rgb(163, 158, 150);
  padding: 0 50px;
  justify-content: center;
}

.section-profile-title-name {
  align-self: center;
  position: relative;
  padding: 0;
  margin-bottom: 3px;
  color: #6f6f6f;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 5px;
  word-spacing: 3px;
}

.section-profile-title-role {
  margin-top: 20px;
  color: #6f6f6f;
  font-weight: 500;
  letter-spacing: 2px;
}

.aside {
	width: 30%;
	background-color: #202026;
	color: #fff;
  text-align: center;
}

.side-container {

}

.section-side-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  text-transform: uppercase;
  margin:0 0 0 0 ;
}