body {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #6B8490;
}

ul {
  list-style: none;
  text-transform: uppercase;
}

main{
  margin-bottom: auto;
}

.box {
  max-width: 1440px;
  margin: 20px auto;
  min-height: 50px;
  background-color: #C0B3A0;
  border: 2px solid #000;
  border-radius: 15px;
}

.header__navigation {
  background-color: #C0B3A0;
}

.header__list{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__link {
  color: #252930;
  position: relative;
  padding: 0 12px;
  font-size: 15px;
  font-weight: 200;
  line-height: 60px;
  text-decoration: none;
}

.main__inroduction {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 50px 30px 35px;
}

.main__photo {
  width: 300px ;
  height: 300px ;
  border-radius: 50%;
  border: 2px solid #000;
}

.main__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    text-transform: uppercase;
}

.main__name {
  align-self: center;
  position: relative;
  padding: 0;
  margin-bottom: 3px;
  color: #252930;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 5px;
  word-spacing: 3px;
}

.main__role {
  margin-top: 20px;
  color: #252930;
  font-weight: 500;
  letter-spacing: 2px;
}

.main__aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: left;
	width: 30%;
	color: #252930;
  padding: 20px 10px 0 20px;
  margin: 0 0 0 0;
  border-right: 2px solid #000;

}

.main__side-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: left;
  margin:0 0 0 0 ;
  text-transform: uppercase;
}

.main__contact-item {
  display: flex;
  align-items: center;
}

.contact-icon {
	background-position: center left;
	background-repeat: no-repeat;
	background-size: cover;
	width: 40px;
	height: 40px;
	margin-right: 10px;
}

.contact-link {
  text-decoration: underline;
  color: #252930;
  font-weight: 600;
}

.discord-icon {
  background-image: url(./img/discord.svg);
}

.telegram-icon {
  background-image: url(./img/telegram.svg);
}

.github-icon {
  background-image: url(./img/github.svg);
}